@using SudokuSolver.Web.Models
@using SudokuSolver.Web.Services
@inject ISudokuGridFactory SudokuGridFactory

 @if (gridContext is not null)
{
    <div class="container">
        <div class="sudoku-grid">
             @foreach (var cell in gridContext.Cells)
        {
        <div class="sudoku-grid-cell">@cell</div>
        }
        </div>
    </div>
} 


@code {
    private GridContext? gridContext;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        gridContext = SudokuGridFactory.CreateRandomGrid();
    }
}
