* {
    --accent-color: #7b5299;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    background-color: #d1e8e2;
    padding: 30px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
}

.sudoku-grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--accent-color);
    background-color: #f0f0f0;
    border: 1px solid var(--accent-color);
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

    .sudoku-grid-cell:nth-of-type(3n-2):nth-of-type(-n+12) {
        border-top-width: 3px;
        border-top-color: var(--accent-color);
    }

    .sudoku-grid-cell:hover {
        background-color: var(--accent-color);
        color: #d1e8e2;
    }
