* {
    --accent-color: #7b5299;
    --base-color: #f0f0f0;
    --light-border: #af88cc;
    --outline-border: 3px solid purple;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

button{
    

}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    background-color: #d1e8e2;
    padding: 30px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
}


.sudoku-grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--accent-color);
    background-color: var(--base-color);
    border: 1px solid var(--light-border);
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

    .sudoku-grid-cell:nth-child(9n+1) {
        border-left: var(--outline-border);
    }

    .sudoku-grid-cell:nth-child(9n+3) {
        border-right: var(--outline-border);
    }

    .sudoku-grid-cell:nth-child(9n+6) {
        border-right: var(--outline-border);
    }

    .sudoku-grid-cell:nth-child(9n+9) {
        border-right: var(--outline-border);
    }

    .sudoku-grid-cell:nth-child(-n+9) {
        border-top: var(--outline-border)
    }

    .sudoku-grid-cell:nth-child(n+1):nth-child(-n+9) {
        border-top: var(--outline-border);
    }

    .sudoku-grid-cell:nth-last-child(-n+9) {
        border-bottom: var(--outline-border); 
    }

    .sudoku-grid-cell:nth-child(n+19):nth-child(-n+27) {
        border-bottom: var(--outline-border);
    }

    .sudoku-grid-cell:nth-child(n+46):nth-child(-n+54) {
        border-bottom: var(--outline-border);
    }


    .sudoku-grid-cell:hover {
        background-color: var(--light-border);
        color: var(--base-color);
    }

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--accent-color);
    background-color: var(--base-color);
    border: 1px solid var(--light-border);

    width: 100px;
    height: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

    .button:hover {
        background-color: var(--light-border);
        color: var(--outline-border);
    }